/* .dream-home-title{
    font-size: 4rem;
}

@media (max-width: 768px) {
    .dream-home-title {
        font-size: 3rem;
    }
}
@media (max-width: 768px) {
    .dream-home-title {
        font-size: 3rem;
    }
} */

.dream-home-description{
     color: #757575;
}