.take-section-div{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* margin: auto; */
    margin: 100px auto 20px auto;
}

.take-section-title{
    font-weight: 800;
        /* font-size: 48px; */
        color: #1A1919;
}

.take-section-description{
   color: #757575;
   margin-top: 1rem;
}