*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}


.active {
    font-weight: 700;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}

.default{
    font-weight: 500;
    color: #757575;
}

.dream-btn-primary{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
        border-radius: 8px;
        padding: 13px 22px;
        color: white;
        border: 0;
        transition: all 0.3s;
        cursor: pointer;
        z-index: 1;
}
.dream-btn-primary:hover{
    scale: 1.05;
}

.take-btn-secondary {
    background: transparent;
    border-radius: 8px;
    padding: 8px 16px;
    border: 0;
    transition: all 0.3s;
    border: 2px solid #7E90FE;
    cursor: context-menu !important;
}

/* .take-btn-secondary:hover {
    scale: 1.05;
} */

.take-section-div {
    margin: 100px auto 20px auto;
}

.take-section-title {
    font-weight: 800;
    /* font-size: 48px; */
    color: #1A1919;
}

.take-section-description {
    color: #757575;
    margin-top: 1rem;
}